<div id="chicachico" class="playground">
  <a id="root" class="sprite" href="/">Recortable</a>
</div>
<div class="resources">
  <%= sprite_tag 'c1.png', %>
  <%= sprite_tag 'c2.png', %>
  <%= sprite_tag 'c3.png', %>

  <%= sprite_tag 'traje1.png', %>
  <%= sprite_tag 'traje2.png', %>
  <%= sprite_tag 'traje3.png', %>
  <%= sprite_tag 'traje4.png', %>
  <%= sprite_tag 'traje5.png', %>
  <%= sprite_tag 'traje6.png',  %>
  <%= sprite_tag 'traje7.png', %>
  <%= sprite_tag 'vestido1.png', %>
  <%= sprite_tag 'pajaro.png', %>
  <%= sprite_tag 'avion.png', %>
  <%= sprite_tag 'gorro1.png', %>
  <%= sprite_tag 'gorro2.png', %>
  <%= sprite_tag 'regadera.png' %>
  <%= sprite_tag 'carrito.png' %>
  <%= sprite_tag 'rastrillo.png'%>
  <%= sprite_tag 'coche.png'%>
</div>
