<div id="chicachico" class="playground">
  <a id="root" class="sprite" href="/">Recortable</a>
</div>
<div class="resources">
  <%= image_tag 'cc/c1.png', :id => 'nino2', :class => 'sprite' %>
  <%= image_tag 'cc/c2.png', :id => 'nina3', :class => 'sprite' %>

  <%= image_tag 'cc/traje1.png', :id => 'avion', :class => 'sprite' %>
  <%= image_tag 'cc/traje2.png', :id => 'traje2', :class => 'sprite ropa' %>
  <%= image_tag 'cc/traje3.png', :id => 'traje3', :class => 'sprite ropa' %>
  <%= image_tag 'cc/3ropa2.png', :id => 'ropa32', :class => 'sprite ropa' %>
  <%= image_tag 'cc/3ropa3.png', :id => 'ropa33', :class => 'sprite ropa' %>
  <%= image_tag 'cc/vestido1.png', :id => 'vestido1', :class => 'sprite ropa' %>
  <%= image_tag 'cc/3pajaro.png', :id => 'pajaro3', :class => 'sprite' %>
  <%= image_tag 'cc/avion.png', :id => 'avion', :class => 'sprite' %>
  <%= image_tag 'cc/gorro1.png', :id => 'gorro1', :class => 'sprite' %>
  <%= image_tag 'cc/regadera.png', :id => 'regadera', :class => 'sprite' %>
  <%= image_tag 'cc/carrito.png', :id => 'carrito', :class => 'sprite' %>
</div>
